@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}

p {
  font-weight: 500;
}
.hero-section {
  /* background: linear-gradient(rgba(224, 100, 20, 0) 30%, black 95%),
    url(../../assets/img/banner.jpg); */
  background-image: url("https://tradeuplife.com/tb/de/v37/images/hero_bottom_fx.svg"),
    linear-gradient(rgba(224, 100, 20, 0) 30%, black 95%),
    url("../../assets/img/banner.jpg");
  padding-top: 3%;
  padding-bottom: 5%;
  background-position: bottom center, bottom center, left bottom;
  background-repeat: no-repeat;
  background-size: contain, cover, cover;
}

.hero-section .logo {
  width: 50%;
}

.hero-section h2 {
  font-weight: bold;
  font-size: 3.6em;
}

.hero-section h4 {
  font-weight: 700;
  font-size: 1.6em;
}

.hero-section .form-col {
  background: #fff;
  text-align: left !important;
  box-shadow: 0px 16px 16px 0px rgb(0 0 0 / 10%);
  border-radius: 20px;
}

.hero-section input {
  padding: 1rem 1rem !important;
  color: #313e4e !important;
  border-width: 1px;
  border: 1px solid #e3e3e3;
  background-color: #fcfcfc;
  border-radius: 10px;
}

.form-control:focus {
  background-color: #fff;
  border-color: #000000 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
}

.hero-section .btn {
  padding: 5%;
  background: #e30813;
  font-size: 1.25rem;
  border-radius: 10px;
}

.hero-section .btn:hover {
  background-color: #be0710;
  border-color: #b2060f;
}

.logo-overlap {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  border-radius: 30px;
  margin-top: -50px;
}

/* Range SLider */

.range-section .shadow {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 20px;
  padding: 1%;
}

.range-section .title {
  line-height: 1.08365;
  letter-spacing: -0.003em;
  font-size: calc(1.34375rem + 1.125vw);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  margin-bottom: 1 rem !important;
  word-wrap: break-word;
}

.range-section .subTitle {
  color: #6c757d;
  margin-top: 0;
  margin-bottom: 1 rem;
  font-size: 1.125rem;
}

.rangep {
  position: absolute;
  /* display: inline-block !important; */
  text-align: left;
  left: 10%;
}

S .range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 16px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #dc3545;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #dc3545;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #dc3545;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #dc3545;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #dc3545;
}
.range-slider__range:active::-moz-range-thumb {
  background: #dc3545;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #dc3545;
}

.range-slider__value {
  line-height: 1.04167;
  letter-spacing: -0.015em;
  font-size: calc(1.5625rem + 3.75vw);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  text-align: right !important;
  margin-bottom: 1.5 rem !important;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.price,
.range-slider__value {
  line-height: 1.04167;
  letter-spacing: -0.015em;
  font-size: calc(1.5625rem + 3.75vw);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  margin-bottom: 1.5 rem !important;
}

.btn {
  transition: all 0.5s;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
  background-color: #e30813;
  border-color: #e30813;
  font-weight: 400;
  text-align: center;
  border: 1 px solid transparent;
  word-break: break-word;
  border-radius: 10px;
}

/* signing-up section */
.signing-up {
  padding: 5%;
}
.signing-up .title {
  line-height: 1.04167;
  letter-spacing: -0.015em;
  font-size: 2.5rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  margin-bottom: 4.5 rem !important;
  text-align: center;
}

.blurb {
  text-align: center;
}

.blurb .title {
  line-height: 1.33337;
  letter-spacing: -0.01em;
  font-size: 1.375rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

/* Benefits Section */

.benefits {
  padding: 5%;
}

.cta .title {
  line-height: 1.04167;
  letter-spacing: -0.015em;
  font-size: 2.5rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  margin-bottom: 3 rem !important;
  text-align: left !important;
  color: #313e4e;
}

.cta .description {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 1 rem;
  text-align: left !important;
  line-height: 1.5;
  color: #313e4e;
}

/* testing-section */
.testing-section .heading {
  letter-spacing: -0.015em;
  font-size: 3.125rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  text-align: center !important;
  color: #313e4e;
}

.testing-section .blurb .title {
  line-height: 1.08365;
  letter-spacing: -0.003em;
  font-size: 1.875rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  margin-bottom: 1 rem !important;
  color: #313e4e;
}

.testing-section .subTitle {
  color: #6c757d;
  line-height: 1.33337;
  letter-spacing: -0.01em;
  font-size: 1.125rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

/* Footet */

footer {
  padding: 3%;
  color: #fff;
  background: #2156d9;
}

footer p {
  padding-left: 0.2em;
  font-size: 13px;
  font-weight: 300;
  line-height: 19.77px;
  letter-spacing: 0.011em;
}

.footer-links a {
  margin-bottom: 1rem;
  margin-right: 1em;
  color: #827f7f !important;
  font-size: 15px;
  font-weight: 600;
  text-decoration: underline !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.errors-message {
  color: rgba(255, 0, 0, 0.733);
  font-size: 14px;
  float: left;
}

.iti--allow-dropdown {
  display: block !important;
}

/* Media Queries */

@media (max-width: 768px) {
  .hero-section {
    background: #fff !important;
  }

  .hero-section .logo {
    width: 50%;
  }

  .hero-section h2 {
    font-weight: bold;
    font-size: 1.6em;
  }

  .hero-section h4 {
    font-weight: 700;
    font-size: 1em;
  }

  .overlapping img {
    width: 70%;
  }

  .range-section {
    text-align: center;
  }

  .logo-overlap {
    box-shadow: 0 0rem 0rem rgb(0 0 0 / 15%) !important;
    border-radius: 30px;
    margin-top: 10px;
  }

  .hero-section .cta {
    text-align: center;
    height: 50%;
    background-image: url("https://tradeuplife.com/tb/de/v37/images/hero_bottom_fx.svg"),
    linear-gradient(rgba(224, 100, 20, 0) 30%, black 95%),
    url("../../assets/img/banner.jpg");
    background-position: top center;
    transform: translateY(-40px);
    padding-top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /*  */
    /* padding-top: 3%; */
    padding-bottom: 5%;
    background-position: bottom center, bottom center, left bottom;
    background-repeat: no-repeat;
    background-size: contain, cover, cover;
  }
  .hero-btn{
    margin-bottom: 17rem;
  }

  .hero-section .btn {
    padding: 0.5rem 1.5rem;
    background: #e30813;
    font-size: 1rem;
    border-radius: 10px;
  }

  .hero-section .form-col {
    background: #fff;
    width: 70%;
    margin: -58%;
    border-radius: 0px;
    margin-right: 5px;
    margin-left: 15%;
    z-index: 1;
    border-radius: 25px;
  }
  .main-logo{
    z-index: 1;
    width: 320px;
  }
}



@media (max-width: 992px) {
  .hero-section {
    background: #fff !important;
  }

  .hero-section .logo {
    width: 50%;
  }

  .hero-section h2 {
    font-weight: bold;
    font-size: 1.6em;
  }

  .hero-section h4 {
    font-weight: 700;
    font-size: 1em;
  }

  .overlapping img {
    width: 70%;
  }

  .range-section {
    text-align: center;
  }

  .logo-overlap {
    box-shadow: 0 0rem 0rem rgb(0 0 0 / 15%) !important;
    border-radius: 30px;
    margin-top: 10px;
  }

  .hero-section .cta {
    text-align: center;
    height: 50%;
    background-image: url("https://tradeuplife.com/tb/de/v37/images/hero_bottom_fx.svg"),
    linear-gradient(rgba(224, 100, 20, 0) 30%, black 95%),
    url("../../assets/img/banner.jpg");
    background-position: top center;
    transform: translateY(-40px);
    padding-top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /*  */
    /* padding-top: 3%; */
    padding-bottom: 5%;
    background-position: bottom center, bottom center, left bottom;
    background-repeat: no-repeat;
    background-size: contain, cover, cover;
    width: 100%;
  }
  .hero-btn{
    margin-bottom: 17rem;
  }

  .hero-section .btn {
    padding: 0.5rem 1.5rem;
    background: #e30813;
    font-size: 1rem;
    border-radius: 10px;
  }

  .hero-section .form-col {
    background: #fff;
    width: 50%;
    margin: -39%;
    border-radius: 0px;
    margin-right: -8px;
    margin-left: 27%;
    z-index: 1;
    border-radius: 25px;
    margin-top: -297px;
  }

  
}

@media (max-width: 576px){
  .container, .container-sm {
      max-width: 100%;
  }
}

@media (min-width: 768px){
.d-md-none {
    display: block !important;
}
}